//varialbles de esstilos
//fuentes Lato, Alata
$fontPrimary: 'Lato', sans-serif;
$fontSecondary: 'Alata', sans-serif;
//Tamano de fuente logo
$font-size-logo-mobile: 1.25rem;
$font-size-logo-tablet: 1.5rem;
$font-size-logo-desktop: 1.625rem;
//tamano de fuente de los label de los iconos
$font-size-label-icon-mobile: .5rem;
$font-size-label-icon-tablet: .625rem;
$font-size-label-icon-desktop: .75rem;
//colores 
$primary-color: #000000;
$second-color: #ffffff;
$third-color: #333333;
$active-color: #76FF03;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}