@use '../../sass/global';

.nav-h-container {
    width: 100vw;
    height: 4rem;
    background-color: global.$primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}