@use '../../sass/global';

.ul--contenedor-ligas {
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: none;
    border-radius: .625rem;
}